*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;

}
/*
Mobile: 375px
Desktop: 1440px*/
%flexcenter-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
$primary: hsl(215, 51%, 70%);
$secondary: hsl(178, 100%, 50%);

$mainbg: hsl(217, 54%, 11%);
$carbg: hsl(216, 50%, 16%);
$lines: hsl(215, 32%, 27%);
$neutwhite: hsl(0, 0%, 100%);




body{
    background-color: $mainbg;
}

.container{
    margin: 0 auto;
    margin-top: 4rem;
    width: 90%;
    height: 80vh;
    @extend %flexcenter-col;
    
    

}

.card{
    @extend %flexcenter-col; 
    justify-content: space-around;   
    background-color: $carbg;
    border-radius: 10px;
    width: 17rem;
    height: 70vh;

    .card-top{
        img{
            width: 240px;
            border-radius: 10px;
        }
    }


    .card-mid{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 1.5rem;
        font-weight: 600;
        
        h3{
            color: $neutwhite;

        }
        p{
            color: $primary;
            margin-top: 1rem;
        }
    }
    

    .card-bottom{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 80%;

        .ETH{
            color: $secondary;
            @extend %flexcenter-col;
            flex-direction: row;
            width: 5rem;
            font-weight: 600;
            font-size: 14px;
        }
        .days{
            color: $primary;
            @extend %flexcenter-col;
            flex-direction: row;
            width: 5rem;
            font-size: 14px;
        }
    }

    .card-footer{
        border-top: 1px solid $lines;
        width: 90%;
        text-align: center;
        margin: .5rem;
        p{
            color: $primary;
            font-weight: 600;
            margin: 1rem;
            span{
                color: $neutwhite;
            }
        }
    }
   
}

@media (min-width: 768px){
    .card{
        height: 55vh;
    }
}
